<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="HomeOSUpdateVersion" value="1.0.0.0" />
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
