<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMetaDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:23456/MetaDataServer/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMetaDataService" contract="MetaDataService.IMetaDataService"
                name="BasicHttpBinding_IMetaDataService" />
        </client>
    </system.serviceModel>
</configuration>