<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HomeOS.Hub.Tools.UpdateManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <HomeOS.Hub.Tools.UpdateManager.Properties.Settings>
      <setting name="SetupWorkingDirUserSelectedPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SetupRepoAcctInfo" serializeAs="String">
        <value>Secure FTP Repository Name</value>
      </setting>
      <setting name="SetupRepoAccountHost" serializeAs="String">
        <value>[format = ftp://yourserver.com]</value>
      </setting>
      <setting name="SetupRepoAccountPort" serializeAs="String">
        <value />
      </setting>
      <setting name="SetupRepoAccountLogin" serializeAs="String">
        <value>ftp login</value>
      </setting>
      <setting name="SetupRepoAccountPassword" serializeAs="String">
        <value>ftp login pw</value>
      </setting>
      <setting name="SetupAzureAccountName" serializeAs="String">
        <value>storage account name</value>
      </setting>
      <setting name="SetupAzureAccountKey" serializeAs="String">
        <value>storage account key</value>
      </setting>
      <setting name="SetupAzureAccountTitle" serializeAs="String">
        <value>Azure Storage Account Title</value>
      </setting>
    </HomeOS.Hub.Tools.UpdateManager.Properties.Settings>
  </userSettings>
</configuration>