<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}/log.txt"
     layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}|${exception:format=message,stacktrace:separator=*}" />
    <target name="debugout" xsi:type="Debugger"
     layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}|${exception:format=message,stacktrace:separator=*}" />

     <!--<target name="uidisplay" xsi:type="FormControl"
                layout="${date:format=HH\:mm\:ss}|${level}|${message}|${exception:format=message,stacktrace:separator=*}"
                formName="MainForm"
                controlName="outputBox" />-->
    </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="debugout" />
    <!--<logger name="*" minlevel="Trace" writeTo="uidisplay" />-->
  </rules>
</nlog>