<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="AccountName" value="msrlotss1" />
    <add key="AccountSharedKey" value="Kwe2EokN2XBeqKQkZ5Y5MAE4k8+1F/lu3gftoBPV/QlLnFFGn7c9Spsrd/MpCsmAvJdL9quPSakQBY6yoDxztw==" />
    <add key="HomeId" value="EV1" />
    <add key="AppId" value="Sensor" />
    <add key="StreamId" value="data" />
  </appSettings>
</configuration>