<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccountName" value="testdrive" />
    <add key="AccountSharedKey" value="zRTT++dVryOWXJyAM7NM0TuQcu0Y23BgCQfkt7xh2f/Mm+r6c8/XtPTY0xxaF6tPSACJiuACsjotDeNIVyXM8Q==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITrustedService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://homelab-vm.cloudapp.net:23456/TrustedServer/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITrustedService" contract="TrustedService.ITrustedService" name="BasicHttpBinding_ITrustedService" />
    </client>
  </system.serviceModel>
</configuration>