<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="AccountName" value="" />
    <add key="AccountSharedKey" value="" />
    <add key="HomeId" value="" />
    <add key="AppId" value="Sensor" />
    <add key="StreamId" value="data" />
  </appSettings>
</configuration>